/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ************ */
/* end of reset */
/* ************ */
html, body { height: 100%; }
body {
  background-color: #ffbb00;
  color: #393e41;
  font-size: 100%;
  font-family: 'Arial', 'Tahoma', 'Helvetica', 'Verdana', sans-serif;
  line-height: 1.2;
}
nav a:visited,
a  {
  color: #ffbb00;
  text-decoration: none;
}
a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:visited {
  color: #614E1A;
}
a:hover,
a:focus,
a:active {
  color: #ffbb00;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Liberation Serif', 'Times New Roman', serif;
  font-weight: bold;
  line-height: 1;
  margin: 0.3em 0 0.5em 0;
  color: #141738;
}
h1 { font-size: 1.750em; } /* 28 / 16 = 1.75 */
h2 { font-size: 1.625em; } /* 26 / 16 = 1.625 */
h3 { font-size: 1.500em; } /* 24 / 16 = 1.5 */
h4 { font-size: 1.375em; } /* 22 / 16 = 1.375 */
h5 { font-size: 1.250em; } /* 20 / 16 = 1.25 */
h6 { font-size: 1.125em; } /* 18 / 16 = 1.125 */

header {
    overflow: hidden;
    background: #ffffff;
	border-bottom: 1px solid #c3c5c6;
    padding-bottom: 0.5em;
}
hgroup h2,
.showcase-inner,
#header-inner,
#wrapper-inner,
#footer-inner {
    position: relative;
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
}
#branding {
    float: left;
    width: 396px;
    height: 99px;
    overflow: hidden;
    text-indent: -9999em;
    background-image: url('iaic-logo.jpg');
    background-repeat: no-repeat;
}
header nav {
    position: absolute;
    bottom: 2.7em;
    right: 0.7em;
}
header nav li {
    float: left;
    border-right: 1px solid #ccc;
    margin-right: 0.3em;
    padding-right: 0.3em;
}
header nav li:last-child {
    border: 0 none;
}
header nav a {
    padding: 0.5em 1em;
    text-transform: uppercase;
}
body.home .home,
body.about .about,
body.usefully .usefully,
body.contacts .contacts,
header nav a:hover {
    color: #fff; 
    background: #ffbb00;
}
#wrapper {
    clear: both;
    background-color: #fff;
    border-bottom: 2em solid #fff;
}
section {
    padding: 1em;
    margin-bottom: 1.5em;
    clear: both;
}
section > h2 {
    float: left;
    width: 60%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.5;
    padding: 0.6em;
}
.block-link,
.thumbnail {
    float: left;
    width: 30%;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em;
    position: relative;
    z-index: 100;
}
section .thumbnail {
    background-image: url('gs.gif');
}
section .thumbnail:hover {
    background: #ffbb00;
}
.thumbnail .caption {
    display: none;
    visibility: hidden;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0.5em;
    left: 0.5em;
    background-color: #ffbb00;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.thumbnail:hover .caption {
    display: block;
    visibility: visible;
    height: 45px;
}
.teasers .thumbnail {
    text-align: center;
}
.thumbnail li {
    text-align: left;
}
.thumbnail li {
    list-style-type: disc;
}
.caption h3 {
    font-size: 1.2em;
}
.block-link div {
    padding: 35px 0 20px 0;
	background: #ececec;
	color: #393E41;
    position: relative;
}
.block-link p {
    font-size: 0.8em;
    padding: 0 20px;
    margin-bottom: 12px;
    text-align: center;
}
.block-link div img {
    position: absolute;
    top: -15px;
    left: 3px;
}
.banner-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -15px;
    left: 0;
    font-size: 0.6em;
    color: #fff;
    background-image: url('banner-sprite.gif');
    background-position: 50% 90px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    text-align: center;
    z-index: 300;
}
.banner-button:visited {
    color: #fff;
}
.banner-button:hover {
    color: #333;
    background-position: 50% 100%;
}
.banner-button span {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
}
.showcase {
    padding: 1.5em 0;
    color: #fff;
    background-color: #222425;
    text-align: right;
    margin-bottom: 3em;
}
.contacts #wrapper-inner,
.usefully #wrapper-inner,
.about #wrapper-inner {
    width: 930px;
}
.showcase-inner {
    width: 950px;
}
.showcase-text {
    width: 35%;
    float: left;
    text-align: left;
    margin-left: 0.5em;
}
.showcase h4,
.showcase a {
    color: #fff;
}
.showcase ul.styled {
    list-style-image: url('tick.png');
}
.showcase li {
    padding: 0.3em 0;
}
#slideshow {
    display: block;
    width: 570px;
    height: 320px;
    float: right;
    padding: 0.5em;
    background-image: url('ds.gif');
}
hgroup {
    background-color: #ffbb00;
    padding: 1.5em 0;
}
hgroup h2 {
    color: #fff;
    font-size: 2em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
}
.styled {
    list-style-position: inside;
    margin-left: 1em;
}
ol.styled {
    list-style-type: decimal;
}
ul.styled {
    list-style-type: disc;
}
p {
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-indent: 1em;
}
footer {
    clear: both;
}
footer nav li {
    padding: 0.6em 0;
}
footer .thumbnail nav li {
    list-style-type: none;
}
footer a {
    padding: 0.2em;
    color: #fff;
    font-weight: bold;
    font-family: 'Georgia';
}
footer a:visited {
    color: #fff;
}
#footer-inner {
    padding: 3em auto;
}
footer a:hover {
    color: #ffbb00;
    background-color: #fff; 
}
#call-for-action {
    display: block;
    width: 25px;
    height: 191px;
    overflow: hidden;
    text-indent: -9999em;
    position: fixed;
    top: 40%;
    left: 0;
    background-image: url('call-for-action.gif');
    background-repeat: no-repeat;
    z-index: 666;
}
/* form */
#element_0,
#element_1,
#element_2,
#element_3 {
    width: 96%;
}
#emf-container li#emf-li-captcha #emf-captcha-bottom-settings {
    background-color: #ddd !important;
    padding: 0.5em 0;
}